<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
      <div class="step0">
          
    <h2 class="tuttitle"><%= title %></h2>
          
      </div>
        <div class="step0">
      <ol>
        <li><a href="#S1"> Starting a new project with Express </a> </li>
          <li> <a href="#S2"> Step 2 </a></li>
          <li> <a href="#S3"> Step 3 </a></li>
      
      </ol>
      </div>
      
    <div id="S1" class='steps'>
        <h3 class="num"> 1. Starting a new project with Express </h3>
To start let's do a few initial steps. First we make a new directory 'brain' and go into this dirrectory. There we create a new express project and we are going to use ejs to template. We also need to install Node dependencies with npm. Within your project directory you can find a file called package.json which shows the dependencies. You can open the project in any editor you like.
       
           <pre><code>
        $ mkdir brain
        $ cd brain
        $ express --ejs
        $ npm install 

 </code></pre>
        
        Now we can start the project. In the project directory we use npm start or nodemon. Nodemon has the advantage that if the code has been changed, the application restarts automatically. You only have to refresh your browser. To install nodemon globally we have to use npm in terminal. After the first initial steps let's check the project in the browser: go to localhost:3000.
        
        <pre><code>
        $ npm install -g nodemon
        </code></pre>
        
        We are going to change the title from 'Express' to 'Parts of the Human Brain' in the routes/index.js file. After that we comment out the welcome line in views/index.ejs file. Now you can check your browser again. 
        
        <pre><code>
        res.render('index', { title: 'Parts of the Human Brain' });
        </code></pre>
        
        <pre><code>
        &lt;&#33;--&lt;p&gt;Welcome to &lt;%= title %&gt;&lt;/p&gt;--&gt;
        </code></pre>
        
        We have directories like routes and views, and now we create a new folder called controllers in brain folder.
        <pre><code>
        $ mkdir controllers
        </code></pre>
        In that new directory let's open a new file brain.js and define a function getParts in brain.js. We don't need the router.get function in router/index.js so we comment it out. Instead we define a new router.get function which uses the function getParts defined in brain.js. In order to use this function it should be imported, so we define a new variable brainController after the definition of var router, which imports the whole content of the brain.js file.  
        <pre><code>
        module.exports.getParts = function(req, res){
          res.render('index', {title: 'Parts of the Human Brain'});
        };
        </code></pre>
        <pre><code>
        router.get('/', brainController.getParts);
        </code></pre>
        <pre><code>
        var brainController = require('../controllers/brain');
        </code></pre>
        
        Checking the browser, we don't see any change from last time. Finally we can save our project and subsequent verions of it in git repository. I don't go into details how to do that. One good tutorials is <a href="http://www.vogella.com/tutorials/Git/article.html" target="_blank" > here </a>. In this project we need to create a .gitignore file which contains the followings:
        
        <pre><code>
        # Dependency directory
        node_modules

        # Environment variables
        .env
        </code></pre>
        </div>
      
    <div id="S2" class='steps'>
     <span class="num"> 2. </span>
       
           <pre><code>
    
        </code></pre>
        

      </div>
      
<div id="S3" class='steps'>
     <span class="num"> 3. </span>
       
           <pre><code>
    
        </code></pre>
        

      </div>
      
  </body>
</html>
