<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
      <div class="step0">
          
    <h2 class="tuttitle"><%= title %></h2>
          
      </div>
        <div class="step0">
      <ol>
        <li class="inside"><a href="#S1"> Starting a new project with Express </a> </li>
          <li class="inside"> <a href="#S2"> List of parts and one static part  </a></li>
          <li class="inside"> <a href="#S3"> Data in controller </a></li>
      
      </ol>
      </div>
      
    <div id="S1" class='steps'>
        <h3 class="num"> 1. Starting a new project with Express </h3>
To start let's do a few initial steps. First we make a new directory 'brain' and go into this dirrectory. There we create a new express project and we are going to use ejs to template. We also need to install Node dependencies with npm. Within your project directory you can find a file called package.json which shows the dependencies. You can open the project in any editor you like.
       
           <pre><code>
        $ mkdir brain
        $ cd brain
        $ express --ejs
        $ npm install 
         </code></pre>
        
        Now we can start the project. In the project directory we use npm start or nodemon. Nodemon has the advantage that if the code has been changed, the application restarts automatically. You only have to refresh your browser. To install nodemon globally we have to use npm in terminal. After the first initial steps let's check the project in the browser: go to localhost:3000.
        
        <pre><code>
        $ npm install -g nodemon
        </code></pre>
        
        We are going to change the title from 'Express' to 'Parts of the Human Brain' in the routes/index.js file. After that we comment out the welcome line in views/index.ejs file. Now you can check your browser again. 
        
        <pre><code>
        res.render('index', { title: 'Parts of the Human Brain' });
        </code></pre>
        
        <pre><code>
        &lt;&#33;--&lt;p&gt;Welcome to &lt;%= title %&gt;&lt;/p&gt;--&gt;
        </code></pre>
        
        We have directories like routes and views, and now we create a new folder called controllers in brain folder.
        <pre><code>
        $ mkdir controllers
        </code></pre>
        In that new directory let's open a new file brain.js and define a function getParts in brain.js. We don't need the router.get function in router/index.js so we comment it out. Instead we define a new router.get function which uses the function getParts defined in brain.js. In order to use this function it should be imported, so we define a new variable called brainController after the definition of var router, which imports the whole content of the brain.js file.  
        <pre><code>
        module.exports.getParts = function(req, res){
          res.render('index', {title: 'Parts of the Human Brain'});
        };
        </code></pre>
        <pre><code>
        router.get('/', brainController.getParts);
        </code></pre>
        <pre><code>
        var brainController = require('../controllers/brain');
        </code></pre>
        
        Checking the browser, we don't see any change from last time. Finally we can save our project and subsequent verions of it in git repository. I don't go into details how to do that. One good tutorials is <a href="http://www.vogella.com/tutorials/Git/article.html" target="_blank" > here </a>. In this project we need to create a .gitignore file which contains the followings:
        
        <pre><code>
        # Dependency directory
        node_modules

        # Environment variables
        .env
        </code></pre>
        After cloning the repository you can checkout this part. 
        
        <pre><code>
   $ git clone https://github.com/bukkicsilla/brainparts.git;
   $ cd brainparts
   $ git checkout step1
   $ npm install
        </code></pre>
        </div>
      
     
      
    <div id="S2" class='steps'>
     <h3 class="num"> 2. List of parts and one static part </h3> In views/index.ejs first we creat our list with only 3 parts of the brain. Let's put this list after the line with the title. Later we can add more of the parts of the brain in form using mongodb database. 
           <pre><code>
        &lt;ul&gt;
           &lt;li&gt;Cerebrum&lt;/li&gt;
           &lt;li&gt;Cerebellum&lt;/li&gt;
           &lt;li&gt;Pons&lt;/li&gt;
        &lt;/ul&gt;
       </code></pre>
        
        Some styling is needed for better readability. In public/stylesheets/style.css we add: 
        
  <pre><code>
        li, p {
            font-size: 18px;
        }
        
</code></pre>
        Now we would like to see some of the details of one brain area. The first part is the Cerebrum in the list, so we use that and we need a new part.ejs page for that. But before that let's define a function getPart in controllers/brain.js. The 'part' means the part.ejs file we will create soon.
        
        <pre><code>
        module.exports.getPart = function(req, res){
           res.render('part', {title: 'Part of the brain.'});
        };
        </code></pre>

        To show the details, a route method has to be set up in routes/index.js, which uses the function getPart.
        <pre><code>
        router.get('/part', brainController.getPart);
        </code></pre>
        
        Now let's create the part.ejs file in views and populate it with the following code:
        <pre><code>
    &lt;!DOCTYPE html&gt;
      &lt;html&gt;
        &lt;head&gt;
          &lt;title&gt;&lt;%= title %&gt;&lt;/title&gt;
          &lt;link rel='stylesheet' href='/stylesheets/style.css' /&gt;
        &lt;/head&gt;
        &lt;body&gt;
          &lt;h1&gt;&lt;%= title %&gt;&lt;/h1&gt;
          &lt;p&gt; Cerebrum &lt;/p&gt;
          &lt;p&gt; It means brain.&lt;/p&gt;
          &lt;p&gt; Functionality:&lt;/p&gt;
          &lt;ul&gt;
            &lt;li&gt;Reasoning&lt;/li&gt;
            &lt;li&gt;Recognition&lt;/li&gt;
            &lt;li&gt;Visual processing&lt;/li&gt;
            &lt;li&gt;Speech&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/body&gt;
      &lt;/html&gt;
     </code></pre>
     
      To reach this page from the index page, we modify one line in views/index.ejs.  Instead of &lt;li&gt;Cerebrum&lt;/li&gt; we put:

      <pre><code>
        &lt;li&gt;&lt;a href="/part"&gt;Cerebrum&lt;/a&gt;&lt;/li&gt;
        </code></pre>
        
        Let's check our project in the browser again. You can get the code by cheching out step2. The f flag makes sure that any changes will be undone. 
        <pre><code>
    $ git checkout -f step2
        </code></pre>
      </div>
      
<div id="S3" class='steps'>
     <h3 class="num"> 3. Data in controller </h3>  Data in controllers/brain.js
       
           <pre><code>
    module.exports.getParts = function(req, res){
      res.render('index', {
        title: 'Parts of the Human Brain',
        parts: [{
                name: 'Cerebrum'
                },
                {
                name: 'Cerebellum'
                },
                {
                name: 'Pons'
                }
               ]                   
            });
    };

        </code></pre>
        
      <pre><code>
    module.exports.getPart = function(req, res){
      res.render('part', {
        title: 'Part of the brain.',
        part: { 
              name: 'Cerebrum',
              meaning: 'brain',
              functionalities: [
                'Reasoning', 'Recognition', 
                'Visual Processing', 'Speech'
                ]
              }
         });
    };

      </code></pre>
    Delete list in views/index.ejs and put: 
    
    <pre><code>
    &lt;ul&gt;
      &lt;% parts.forEach(function(part){ %&gt;
      &lt;li&gt; &lt;a href="/part"&gt;&lt;%= part.name %&gt;&lt;/a&gt;&lt;/li&gt;
      &lt;% }); %&gt;
    &lt;/ul&gt;
     </code></pre>

    Delete two first paragraphs in views/part.ejs and put:
    <pre><code>
    &lt;p&gt;&lt;%= part.name %&gt; &lt;/p&gt;
    &lt;p&gt; It means &lt;%= part.meaning%&gt;.&lt;/p&gt;
     </code></pre>
    Delete list in views/part.ejs and put:
    <pre><code>
    &lt;ul&gt;
     &lt;% for(var i=0; i&lt;part.functionalities.length; i++) {%&gt;
       &lt;li&gt;
         &lt;span&gt;&lt;%= part.functionalities[i] %&gt;&lt;/span&gt;
       &lt;/li&gt;
     &lt;% } %&gt;
    &lt;/ul&gt;
   </code></pre>
      </div>
      
  </body>
</html>
