<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      
      <ol>
        <li><a href="#S1"> Starting a new project with Express </a> </li>
          <li> <a href="#S2"> Step 2 </a></li>
      
      </ol>
      
      
      <h2 id="S1">Step 1</h2>
      
    <div class='steps'>
      
      </div>
      
      <h2 id="S2"> Step 2</h2>
  </body>
</html>
