<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="gradient">
      <div>
    <h1><%= title %></h1>
      
    <!--<p>Welcome to <%= title %></p>-->
          <div id="categ">
      <p> <a href='/meanweb/'> Mean Web </a></p>
      <p><a href='/mobileweb/'> Mobile Web </a></p>
      <p> <a href='/medicine/'> Medicine </a></p>
      <p> <a href='/math/'> Math </a></p>
      <p> <a href='/music/'> Music </a></p>
      <!--<p> Mountain </p>-->
      <p> <a href='/miscellaneous/'> Miscellaneous </a></p>
          </div>
      </div>
    </body>
</html>
