<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="gradient">
    <h1><%= title %></h1>
    <p><a href='/meanweb/crudandmongodb'> CRUD with MongoDB, Express and EJS </a></p>
  </body>
</html>
