<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
   <p> <a href='https://warm-shore-61492.herokuapp.com/' target='_blank'> Naturalization </a></p>
      <!--<iframe src='https://warm-shore-61492.herokuapp.com/' style="height:200px;width:300px;" name='natur'> Naturalization here </iframe>-->
    <p><a href='https://csillabukki.herokuapp.com/' target='_blank'> Personal Homepage</a></p>
  </body>
</html>
