<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href='https://csillabukki.herokuapp.com/launch' target='_blank'>Apps on Google Play </a></p>
  </body>
</html>
