body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: Arial;
  //background-color: #ffcccc;
}
.gradient{
    //background: repeating-linear-gradient(30deg, #cccccc 0px , #ccffff 80px, #ccffcc 160px);
    background: linear-gradient( -30deg, #ccffff, #ccffcc, #ffcccc);
    //border: 5px red solid;
    padding: 30px 30px 500px 30px;
    //margin: -70px -65px 0px -65px;
}
.crud{
    background-color: #eeffff;
    //background-color: #c1ffca;
    //background-color: #3e0035;
    //padding: 30px 30px 500px 30px;
}
ol {
    padding-left: 30px;
    //margin:0 0 0 10px;
    //border: 1px red solid;
}
a, li.inside {
  //color: #00B7FF;
    color: forestgreen;
}

li.inside {
    list-style: decimal;
    //list-style: circle inside;
}
h2, h3{
    font-family:fantasy;
    //font-style: bold;
    //font-size: 130%;
    text-decoration-line: underline;
}
.step0, .steps{
    padding-left: 180px;
    padding-right: 180px;
    font-size: 24px;
    //border: 1px darkred solid; 
}
.steps{
    padding-bottom: 36px;
}

pre{
    border: 1px forestgreen solid;
    border-radius: 10px;
    background-color: #c1ffca;
    overflow: auto;
    //white-space: pre-wrap;
    padding-right: 100px;
}
pre:hover {
    //transform: scale(1.3);
    //color: #c1ffca;
    color: darkmagenta;
}
ul{
    //border: 1px darkred solid; 
    
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}
